.heroSection {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 820px;
  width: 100vw;
  margin: 0 auto;
  background: linear-gradient(to right, #16205faf, #64e1f4b7),
    url("/oficina.png") no-repeat center center;
  background-size: cover;
  animation: fadeIn 1s ease-in-out forwards;
  color: white;
}

.content {
  z-index: 1;
  top: 180px;
  right: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
  
}

.content h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 20px 2rem;
}

.highlight {
  color: #64e0f4;
}

.vectors {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vector1,
.vector2 {
  width: 220px;
  height: auto;
}

.content p {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
}

.paragraphContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: 40px;
  width: 100%;
}

.paragraphContainer span {
  border: 2px solid #ffffff;
  height: 60px;
}

.paragraphContainer p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  width: 80%;
  padding-left: 15px;
}



/* Media Queries para responsive design */

/*Tablet*/

@media (max-width: 1024px) {
  .heroSection {
    height: auto;
    padding: 20px 0;
  }
  .content {
    right: 0;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    margin-left: 0px;
  }
  .content h1 {
    font-size: 36px;
  }

  .paragraphContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .paragraphContainer span {
    width: 10%;
    height: 0.1px;
  }
  .paragraphContainer p {
    width: 60%;
    text-align: center;
    font-size: 14px;
  }

  .vectors {
    display: flex;
    height: auto;
    margin-top: 80px;
  }

  .vector1,
  .vector2 {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
  }
  
}

/* Mobile */
@media (max-width: 720px) {
  .heroSection {
    height: auto;
    padding: 20px 0;
  }
  .content {
    right: 0;
    top: 100px;
    text-align: center;
    align-items: center;
    margin-left: 0px;
  }
  .content h1 {
    font-size: 25px;
  }
  .paragraphContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .paragraphContainer span {
    width: 10%;
    height: 0.1px;
  }
  .paragraphContainer p {
    width: 75%;
    text-align: center;
    font-size: 17px;
  }

  .vectors {
    display: none;
  }


}
