.aboutUsSection {
  text-align: center;
  padding: 50px 20px;
  position: relative;
  padding-top: 100px;
  z-index: 1;
  color: white;
}

.animatedBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #16205fd5, #0192a8d5);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  z-index: -1; /* Ensure the background is behind other content */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aboutUsSection h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.aboutUsSection p {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap; /* Allows wrapping of items */
}

.imageBox {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: block;
  margin: 30px;
}

.imageLabel {
  margin-top: 10px;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
}

/* Tablet */
@media (max-width: 980px) {
  .aboutUsSection {
    padding: 50px 20px;
    position: relative;
  }

  .aboutUsSection h2 {
    font-size: 36px;
  }

  .aboutUsSection p {
    font-size: 20px;
  }

  .imagesContainer {
    gap: 30px;
  }

  .imageBox {
    width: 45%; /* Adjust width for better layout on tablets */
    margin: 0 auto;
    justify-content: center;
  }

  .imageLabel {
    font-size: 26px;
  }

}

/* Mobile */
@media (max-width: 440px) {
  .aboutUsSection {
    padding: 50px 20px;
    position: relative;
    background-color: black;
  }

  .img {
    margin: 0px;
    height: 100px;
    width: 85px;
  }

  .aboutUsSection h2 {
    font-size: 36px;
  }

  .aboutUsSection p {
    font-size: 20px;
  }

  .imagesContainer {
    gap: 30px;
  }

  .imageBox {
    width: 80%;
    margin: 0 auto;
  }

  .imageLabel {
    font-size: 24px;
    bottom: 5px;
  }
}
