
.contactSection {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  padding: 50px 20px;
  background-color: #000000;
  position: relative;
  min-height: 100vh; 
}

.contactSection h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  color: linear-gradient(#16205fd5,#64e1f4d5)
}

.gradientText {
  font-size: 40px;
  font-weight: 500;
  background-image: linear-gradient(to right, #16205F, #64E0F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dddddd;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.formGroup label,
.term label {
  color: #000000; 
  text-align: start;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup textarea {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  width: 100%;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="email"]:focus,
.formGroup textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff80;
  outline: none;
}

.formGroup textarea {
  resize: none;
}

.term {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #000000; 
}

.term input {
  margin-right: 10px;
}

.terms {
  color: #007bff;
}

.submitButton {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.1s ease, background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:active {
  transform: scale(1.05);
}

.submitButton:disabled {
  background-color: #b1b1b1;
}

@media (max-width: 980px) {
  .contactSection {
    display: none;
  }
  /*.contactSection h2 {
    font-size: 36px;
  }
  .contactSection p {
    font-size: 20px;
    width: 85%;
  }

  .contactForm {
    width: 90%;
  }*/
}

/* Mobile */
@media (max-width: 700px) {
  .contactSection {
    display: none;
    /*padding: 50px 0;*/
  }
  
  /*.contactSection h2 {
    font-size: 36px;
  }
  .contactSection p {
    font-size: 20px;
    width: 85%;
  }

  .contentModal {
    gap: 10px;
  }

  .contactForm {
    width: 90%;
  }

  .leftPanel {
    display: none;
  }

  .submitButton {
    background-color: #6780ff;
  }*/
}
